<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Consultez et gérez votre profil utilisateur à la Salle de Boxe RED STAR . Suivez votre progression, réservez des cours, et personnalisez votre expérience d'entraînement.">
    <meta name="keywords" content="profil utilisateur, salle de boxe, suivi de progression, réservation de cours, personnalisation">
    <title>Profil Utilisateur | Salle de Boxe RED STAR </title>
    <!--font awesome cd link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="changePassword">



  <div class="nabvarUser">
    <nav>
    <div class="logo">
        <img src="./images/LOGO.png" alt="Logo club de boxe RED STAR ">
      </div>
        <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="ProfilUser">Profil</a></li>
            <li><a href="LogoutUser">Déconnexion</a></li>
        </ul>
    </nav>
    </div>


<div class="form-change-password">
<form action="/updatePassword" method="post">
  <button type="submit">Mettre à jour le mot de passe</button>
  <label>Nouveau mot de passe </label>
    <input type="password" name="newPassword" autocomplete="new-password"  placeholder="Nouveau mot de passe" required>
    <label>Confirmer nouveau mot de passe </label>
    <input type="password" name="confirmPassword" autocomplete="confirmPassword" placeholder="Confirmez le mot de passe" required>
    
    <div class="reponse">
      <% if(locals.message) { %>
        <strong>
          <p><%= message %></p>
        </strong>
        <% } %>
    </div>
  </form>
 

</div>


<footer>
  <div class="footerContent">
 <div class="socialIcons">
  <a href="" ><i class="fa-brands fa-instagram fa-flip"></i></a>
  <a href=""><i class="fa-brands fa-facebook fa-bounce"></i></a>
  </div>
  <div class="footerNav">
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/planning">Plannig</a></li>
          <li><a href="/NosTarif">Nos Tarif</a></li>
          

      </ul>
  <div class="footerBottom">
      <p>Notre club est ouvert du lundi au dimanche 
      jeudi et samedi fermé  
      Adresse : 73 Rue Curial, 75019 Paris
  </p>
</div>
  </div>
 </div>

</footer>
  </div>
 



</body>
