
<footer>
    <div class="footerContent">
   <div class="socialIcons">
    <a href="https://www.instagram.com/paris_boxing_club" ><i class="fa-brands fa-instagram fa-flip"></i></a>
    <a href="https://www.facebook.com/RsBoxe"><i class="fa-brands fa-facebook fa-bounce"></i></a>
    </div>
    <div class="footerNav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/PlanningPublic">Plannig</a></li>
            <li><a href="/NosTarif">Tarifs</a></li>
            <li><a href="/register">Inscription</a></li>
  
        </ul>
    <div class="footerBottom">
        <p>Notre club est ouvert du lundi au dimanche 
         sauf le jeudi et samedi fermé  
        Adresse : 73 Rue Curial, 75019 Paris
    </p>
</div>
    </div>
   </div>


    </div>
   </footer>

</body>
</html>
