<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page d'accueil - RED STAR BOXING </title>
	<!--font awesome cd link  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=DM+Sans:wght@200&family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<!--custom css file link -->
	<link rel="stylesheet" href="/css/style.css">

<body>

	<!-- Create my header and Navbar --->

	<header>
	
		<video autoplay="autoplay" muted="" loop="infinite"
			src="/media/Boxing Training Motivation 2019 _ I Am the Best.mp4" type=video/ogg>
			<source src="/media/Boxing Training Motivation 2019 _ I Am the Best.mp4" heigth="400px" type=video/mp4>
		</video>
		<div class="overlay">


			<nav class="navbar">
				<div class="logo">
					<a href="/home">
						<img src="./images/LOGO.png" alt="logo Red start" class="logo" /></a>
				</div>

				<ul class="Nav-link">
					<li><a href="/home" class="nav-item" style="--i: 0">Home</a></li>
					<li><a href="/planningPublic" class="nav-item" style="--i: 1">Planning</a></li>
					<li><a href="/NosTarif" class="nav-item" style="--i: 2">Tarifs</a></li>
					<li><a href="/register" class="nav-item" style="--i: 3">Inscription</a></li>
				</ul>
			</nav>
		</div>
	</header>


	<main>