<%- include('header') -%>
<title>Salle de Boxe RED STAR  | Entraînement, Bien-être et Forme Physique</title>
<meta name="description" content="Bienvenue à la Salle de Boxe RED STAR , où l'entraînement intense rencontre la forme physique optimale. Découvrez nos programmes de boxe adaptés à tous les niveaux.">
<meta name="keywords" content="salle de boxe, entraînement intense, forme physique, cours de boxe, exercices, combat">
	
		<!--Section of  histoire -->
  
		<section class="histoire-section">

			<div class="histoire-content">
				<h1>NOTRE HISTOIRE</h1>

				<p>Fondé par Axel Kuborn et Serge Van Weyenberg, Marvelous Marvin Boxing club a ouvert en 2017 son
					premier Club de boxe à Bruxelles, avec l’ambition d’amener la boxe auprès d’une population peu
					habituée à fréquenter les salles et à pratiquer ce sport noble. Leur objectif : faire découvrir la
					boxe anglaise à qui le souhaite à travers d’un programme de cours variés ouverts à toutes et tous,
					pour tous les niveaux.

					En 2021, Marvelous Marvin ouvre son second club, au centre de Waterloo, avec 800 mètres carrés
					entièrement dédiés à la boxe.</p>
			</div>

		</section>
		<!--Section of  Nos Valeurs -->
		<section class="valeurs-section">
			<div class="valeurs-content">
				<div class="Nos-valeurs">
					<h2>Libérez Votre Puissance Intérieure à Travers la Passion de la Boxe Anglaise</h2>
					<p>Red star Boxing se donne pour mission de transmettre la passion de la boxe anglaise, au sein de
						cours ouverts à tous, diversifiés et enrichissants. Nous mettons à disposition des structures
						premium et un environnement sûr afin de permettre aux membres de notre communauté de progresser
						et d’atteindre leurs objectifs dans une atmosphère conviviale et épanouissante, encadrés et
						suivis par un ou plusieurs coach(s) de l’équipe.

						Les formats variés des cours ainsi que les approches pédagogiques différentes des coachs
						permettent de découvrir cette discipline, de s’y plaire et d’évoluer techniquement et
						physiquement, au sein d’une structure bienveillante où chacun à sa place.</p>
				</div>
				<div class="right-content">
					<img src="./images/fondEnregistrer.png"alt="Une image mettant en vedette un logo de boxe audacieux au premier plan, avec un ring de boxe en arrière-plan. Le logo de boxe est dynamique et captivant, représentant la passion et l'énergie du sport" >
					 
				</div>
			</div>
		</section>
		<!--- Section  of  notre Accompagnement -->
		<section class="Accompagnement-section">
			<div class="Accompagnement-content">
				<div class="left-content">
					<img src="/images/blocco-fighter.png" alt="décrie le contenu de mon image  ">
				</div>
				<div class="notre-accompagnement">

					<h2>NOTRE ACCOMPAGNEMENT </h2>
					<p>
						Accessibles aux boxeurs débutants comme aux confirmés, nos entraînements durent 1h00 et sont
						encadrés par des coachs expérimentés et passionnés (découvrir nos coachs).
						Chaque séance se déroule selon un programme spécifique, en fonction des objectifs et du
						profil des participant(e)s: condition physique, entraînement technique, ateliers ciblés, travail
						aux pattes d’ours et aux sacs de boxe et sparring pour ceux qui le souhaitent (et qui ont déjà
						une expérience en boxe).
					</p>


				</div>






			</div>

		</section>


		<!-- Section  of  notre valeurs -->

		<section class="NosValeurs-section">

			<div class="NosValeurs-content">

				<div class="notre-valeurs">

					<h2>Nos Valeurs</h2>
					<p>
						Red star Boxing se donne pour mission de transmettre la passion de la boxe anglaise, au sein de
						cours ouverts à tous, diversifiés et enrichissants. Nous mettons à disposition des structures
						premium et un environnement sûr afin de permettre aux membres de notre communauté de progresser
						et d’atteindre leurs objectifs dans une atmosphère conviviale et épanouissante, encadrés et
						suivis par un ou plusieurs coach(s) de l’équipe.

						Les formats variés des cours ainsi que les approches pédagogiques différentes des coachs
						permettent de découvrir cette discipline, de s’y plaire et d’évoluer techniquement et
						physiquement, au sein d’une structure bienveillante où chacun à sa place.
					</p>

				</div>
				<div class="right-content">
					<img src="/images/blocco-fighter.png" alt="Deux boxeur en plien combat échangant des coupe puissants au milieu du ring">
				</div>


			</div>
		</section>





		<!--Section of plus Actualité -->

		<section class="Actualite">
			<div class="club">
				<img src="/images/Coach1.jpg">
				<a href="./coachs">Découvrir <br>Notre Clubs</a>


			</div>

			


			
			<div class="Reservation">
				<img src="/images/Coach1.jpg">
				<a href="/reservation">Réserver des  <br> cours privés</a>



			</div>
		</section>

	  
    
		<%- include('footer') -%>
	

	






		<!-- <section class="histoire-section">
				<p>
					
					Accessibles aux boxeurs débutants comme aux confirmés, nos entraînements durent 2h00 et sont encadrés par des coachs expérimentés et passionnés (découvrir nos coachs).
					
					Chaque séance se déroule selon un programme spécifique, en fonction des objectifs et du profil des participant(e)s: condition physique, entraînement technique, ateliers ciblés, travail aux pattes d’ours et aux sacs de boxe et sparring pour ceux qui le souhaitent (et qui ont déjà une expérience en boxe).
				
		         </p>
		</section> -->




		