
<%- include('header') -%>
<meta name="description" content="Découvrez les tarifs des abonnements à la Salle de Boxe RED STAR. Choisissez le plan qui correspond à vos besoins pour démarrer votre aventure sportive.">
    <meta name="keywords" content="tarifs abonnements, salle de boxe, abonnement sport, tarifs salle de sport">
<title>Tarifs des Abonnements | Salle de Boxe RED STAR </title>

    <section class="Nos-tarifs">
    

    
    <h2>Tarif Adulte</h2>
    <p>Tarif annuel : 250 euros</p>
    
   
    
    <h2>Tarif Mineur</h2>
    <p>Tarif annuel : 200 euros</p>
    <p> les mineurs à partir de 12 ans.</p>
    <p>Scannez ce QR code pour effectuer le paiement en ligne.</p>
    
    <img src="images/QR.png" alt="Scannez ce QR code pour effectuer le paiement en ligne.">
    <p>Pour toute question ou assistance, contactez-nous à rsboxe.paris@gmail.com</p>
    
    <a href="register">Inscrivez-vous maintenant !</a>
    <h2>Documents à joindre</h2>
<p>Les documents suivants sont nécessaires pour l'inscription :</p>
<ul>
    <li>* Certificat médical d'aptitude (obligatoire)</li>
    <li>* 1 photo d'identité</li>
   <li>* Autorisation des parents pour les mineurs</li>
   
</ul>

<p>Le dossier d'inscription complet doit être déposé sur place à la salle au 73 rue Curial, 75019 Paris.</p>



<h2>Paiement par virement bancaire</h2>
<p>Le paiement par virement bancaire se fera une seule fois. Vous trouverez ci-dessous les informations bancaires :</p>

<table>
  <tr>
    <th>Bénéficiaire</th>
    <th>IBAN</th>
    <th>BIC/SWIFT</th>
  </tr>
  <tr>
    <td>Nom du bénéficiaire</td>
    <td>FR7642559100000802343815580</td>
    <td>CCOPFRPPXXX</td>
  </tr>
</table>

<h2>Paiement par chéque </h2>
<p>Le paiement par chéque se fera en une seule ou deux fois maximum <br> 

</p>
<h2>Paiement par Carte Blue </h2>

<p>paiment par Carte bleue se fera directement auprés d'un des responsable du RS BOXE , et dans le 
    même principe que le réglement par chéque, c'est-à-dire en une seule ou deux fois maximum.
 </p>



</section>

</html>









<%- include('footer') -%>