<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Administrateur | Salle de Boxe RED STAR </title>
    <meta name="description" content="Gérez les paramètres et les fonctionnalités administratives de la Salle de Boxe RED STAR à partir de votre profil administrateur. Accédez aux outils d'administration pour superviser les membres et personnaliser l'expérience utilisateur.">
    <meta name="keywords" content="profil administrateur, salle de boxe, gestion administrative, outils d'administration, supervision des membres">
    <!--font awesome cd link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!--custom css file link -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="nabvarUser">
        <nav>
            <div class="logo">
                <i class="fa-solid fa-gear" style="font-size: 100px; color:brown"></i>
            </div>
            <ul>
                <li><a href="/home" class="nav-item" style="--i: 0">Home</a></li>
                <li><a href="/Planning" class="nav-item" style="--i: 0"> Planning</a></li>
                <li><a href="LogoutAdmin" class="nav-item" style="--i: 2">Déconnexion </a></li>
                <li><a href="/gestionInstructeurs" class="nav-item" style="--i: 2">Gestion des Instructeurs</a></li> 
            </ul>
        </nav>
    </div>

    <h1>Gestion des members</h1>

      


    <!-- Formulaire d'ajout de membre -->
    <form action="/profilAdmin" method="POST">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <label for="passwordConfirm">Confirmer le mot de passe :</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" required>

        <button type="submit">Ajouter le membre</button>
    </form>

    <h2>Liste des members</h2>
    <ul>
        <% members.forEach(function(member) { %>
            <li>
                <%= member.NOM_UTILISATEUR %> - <%= member.EMAIL %>
                <button class="delete-button" data-id="<%= member.id %>">Supprimer</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <script src="/js/members.js"></script>
</body>

</html>