
<%- include('header') -%>

<title>Inscription à la Salle de Boxe | Devenez Membre dès Aujourd'hui</title>
    <meta name="description" content="Inscrivez-vous à la Salle de Boxe RED STAR et commencez votre parcours vers la forme physique. Choisissez parmi nos programmes d'entraînement et devenez membre dès aujourd'hui.">
    <meta name="keywords" content="inscription, salle de boxe, devenir membre, programme d'entraînement, forme physique">
    
<body>
    <section class="register">

    <form action="/register" method="POST" onsubmit="return validerFormulaire()" >
<div class="reponse">
    <% if(locals.message) { %>
        <strong>
            <%= message %>
        </strong>
        <% } %>
</div>
        

       <h2>INSCRIPTION</h2>
       <hr>
    <div class="Formulaire">
        <label for="name">Nom Prénom</label>
        <input type="text" placeholder="Nom"  id ="name" name="name">

         
    </div>
    <label for="email"> Adresse Mail </label>
    <input type="email" placeholder="Adresse-mail" id="email" name="email" autocomplete="email"> 
    

    <label for="password">Mot de passe</label>

    <input type="password" placeholder="mot de pasee" id="password"  name="password" autocomplete="current-password"> 
      

   <label  for="passwordConfirm">Confirmer le mot de passe</label>
        <input type="password"  placeholder="Confirme mot de pasee"  id="passwordConfirm" name="passwordConfirm"  autocomplete="new-password">
   
                <button type="submit">Enregistrer</button>
                <p>J'ai déjà un compte?</p>
                <div class="boutton-formulaire">
                    
                    <a href="./login">Connexion</a>
                   
                </div>
</form>

    
<script nonce="<%= nonce %>">
    function validerFormulaire() {
        // Récupérer les valeurs des champs
        var nomValue = document.getElementById("name").value;
        var emailValue = document.getElementById("email").value;
        var passwordValue = document.getElementById("password").value;
        var passwordConfirmValue = document.getElementById("passwordConfirm").value;

        // Vérifier si tous les champs sont remplis
        if (nomValue.trim() === "" || emailValue.trim() === "" || passwordValue.trim() === "" || passwordConfirmValue.trim() === "") {
            // Afficher un message d'erreur
            alert("Veuillez remplir tous les champs.");
            // Empêcher la soumission du formulaire
            return false;
        }

        // Autres validations si nécessaire

        // Si le formulaire est valide, autorisez la soumission
        return true;
    }
</script>

    


    </section>




</body>

</html>

<%- include('footer') -%>

  